# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
	{
		'label': 'Packages'
		'submenu': [
			'label': 'Scratch'
			'submenu': [
				{ 'label': 'Toggle', 'command': 'scratch:toggle' }
			]
		]
	}
]
